/* layout */
iframe {
  border: 0px;
  width: 100%;
  height: 36vw;
  margin-bottom: 1vw;
}

.row {
  margin-bottom:20px;
  border-bottom: 4px double black;
}

.jumbotron {
  background-color: rgb(106, 112, 118);
  color: white;
  margin-bottom: 20px;
}

.inline {
  padding-right: 15px;
}

footer {
  background-color: rgb(47, 58, 67);
  color: white;
  padding: 25px;
  padding-bottom:10px;
  
  border-radius: 5px;
}

.aboutme {
  background-color: white;
}

#hammyp {
  margin-bottom: 30px;
}

table {
  width: 90%;
  margin: auto;
}

/* text-styling */
.jumbotron h1 {
  text-shadow: 3px 3px grey;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h4 {
  font-style: oblique;
}
h2 {
  color: white;
  background-color: rgb(75, 107, 133);
  border-bottom: 1px solid rgb(44, 82, 114);
  text-align: center;
}

.intro p {
  margin: 0 40px;
  font-size: 20px;
  line-height: 40px;
  margin: 15px 0;
}

#aboutmeIntro {
  width: 80%;
  margin: 0 10vw;
  margin-bottom: 15px;
  font-size: 20px;
  color: grey;
  text-align: center;
}

.largen {
  color:rgb(87, 131, 167);
  font-weight: bold;
}

a {
  color: rgb(44, 82, 114);
  font-weight: bold;
  text-transform: uppercase;
  transition-duration: 0.5s;
}

a:hover {
  color: grey;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

table a {
  font-size: 25px;
}





/* media */
.images {
  width: 20vw;
  height: 18vw;
  border: 1px solid black;
}

.about-img {
  float: left;
  width: 50vw;
  margin-right: 30px;
  border: 1px solid black;
} 

#oppa {
  float: right;
  width: 30vw;
  margin-right: 30px;
  border: 1px solid black;
} 

#hamster {
  float: left;
  display: block;
  border: 1px solid black;
  width: 25%;
  margin-right: 10px;
  margin-bottom: 10px;
}
